.headerPrincipal .container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.headerPrincipal-nav {
    display: flex;
}

.rodapePrincipal-patrocinadores .container{
    display: flex;
    justify-content: space-between;
    
}

.rodapePrincipal-patrocinadores-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin-right:5%;
   
}
.rodapePrincipal-contatoForm{
    width: 25%;
}

.rodapePrincipal-contatoForm-fieldset{
    display: flex;
}
.rodapePrincipal .rodapePrincipal-navMap-list{
    display: flex;
    flex-direction: column;
    height: 260px;
    flex-wrap: wrap;
}

.contenidoPrincipal-cursos{
    display: flex;
    flex-wrap: wrap;

}

.contenidoPrincipal-cursos-link {
    display: flex;
    width: 23%;
}

.containerVideo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 1rem;
}

.videoSobre-sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 315px;
    justify-content: space-between;

}

.videoSobre-button{
   
    align-items: center;
    justify-content: center;
    width: 100%;
}

.videoSobre-sobre-list{
    flex-direction: column;
    align-items: center;
}


/* Responsive */
@media(max-width:768px){
    
    .headerPrincipal .container{
        flex-direction: column;
        align-items: initial;
        text-align: center;    
    }

    .headerPrincipal-nav {
        flex-direction: column;
      
    }
   
    .contenidoPrincipal-cursos-link {
       flex-direction: column;
       width: 100%;
    }

    .containerVideo{
        flex-direction: column;
        width: 80%;
        margin: auto;
    }

    .videoSobre-Video .container {
        flex-direction: column;
    }

    .rodapePrincipal .rodapePrincipal-navMap-list{
        flex-wrap: nowrap;
        height: auto;
    }

    .rodapePrincipal-patrocinadores .container{
        flex-direction: column;   
    }
    
    .rodapePrincipal-contatoForm{
        width: 100%;
    }

    .rodapePrincipal-patrocinadores-list{
        align-items: center;
        width: 100%;
        margin: 0;
    }

    .rodapePrincipal-contatoForm-fieldset{
        display: flex;
        justify-content: center;
    }
    .headerPrincipal-nav-link-app {
        order: -1;
    }
}